
.todayForecast .weather{
    /* background: rgba(95, 94, 94, 0.136); */
    /* box-shadow: 0 8px 10px 0 rgba(14, 14, 14, 0.5); */
}

/* .weather2{
margin: 1rem;
height: 250px;
width: 320px;
padding: 1rem;

background: rgba(255, 255, 255, 0.074);;
box-shadow: 0 8px 10px 0 rgba(14, 14, 14, 0.5);
backdrop-filter: blur( 1px );
border-radius: 20px;

} */