.forecastContainer {
    padding: 1rem;
}

.forecastContainer .forecastContent {

    display: grid;
    grid-template-columns: 1fr;
    background: var(--card-color);
    /* box-shadow: 0 8px 10px 0 rgba(14, 14, 14, 0.5); */
    box-shadow: 1px 2px 20px 6px rgb(13 12 12 / 95%);
    /* backdrop-filter: blur(1px); */
    border-radius: 20px;

}


.forecastContainer .navbar {
    display: flex;
    align-items: baseline;
    justify-items: center;


    padding: 1rem 1rem 0 1rem;
}

.forecastContainer .navbar .menuBtn {

    padding: .5rem;
    color: #818085;


}

.forecastContainer .forecastContent .content {

    height: 700px;
    overflow-y: scroll;

    padding: 1rem 0.5rem;

}