.navContainer{
    height: fit-content;
    box-shadow: -2px -2px 20px 0px #00000005;
    border-bottom: 2px solid #3a3a3a;

}
   



.primaryNavbar {
  display: flex;
  align-items: center ;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}



.searchContainer{
  background: black;
  position: relative;
  border-radius: 30px;
  flex: 1;
  margin: 0 1rem;
}



.searchBar .web-searchBar{
  align-items: center;
  z-index: 9;
  padding: 0.5rem;
  /* max-width: 40rem; */
  margin: auto;

  border-radius: 20px;
}

 .mob-searchBar{
  display: none;
  margin: 0 1rem;
}

.mob-search input{
  width: 100%;
  /* margin: 1rem 0px; */
  padding: 1rem;
  background: black;
  border: none;
}

.mob-search .dropdown .suggestions{
  width: 100%;
  margin: 1rem;

}

.searchBar input {
  border: none;
  background: none;
  margin: 0 4px;
  padding: 0.3rem;
  width: 100%;
  color: white;
  

}

.searchBar input:focus-visible{
  outline: none;
}




.searchBar .dropdown{
  display: block;
  position: absolute;
  content: "";
  background: black;
  width: 100%;
  top: 130%;
  max-height: 500px;
  right: 0;
  z-index: 1;
  left: 0;
  overflow-y: scroll;
  border-radius: 30px;
  scrollbar-width: none;





}

.searchBar .dropdown .suggestions{
  text-align: left;
  padding: 1rem;
  /* font-size: 1.2rem; */
  /* background: #3c3b3b; */
  /* box-shadow: 2px 2px 2px 2px black; */
  margin: 1rem 0;
  cursor: pointer;
  border-radius: 30px;
}

.searchBar .dropdown .suggestions:hover{
  background: black;
  background: #202020;
}


.searchBar input:focus-visible {
  border: none;

}


.logoContainer img{

  mix-blend-mode:lighten;
  width: clamp(6rem, 10vw, 12rem); 
  
}

.locationBox{
  margin: 0px 1rem 0 9rem;
  font-size: 1.2rem;
  text-align: left;
    
}

.locationBox span{

  font-size: 1rem;

  margin: 0.2rem;
  border-bottom: 2px solid #999696;

}

.gitBox{

  
   font-size: clamp(1.5rem, 1.5vw, 2rem); ;
  filter: drop-shadow(3px 10px 5px #000000);
   
}


@media (max-width:700px){

  .navContainer{
    border-bottom: none;
  }

  .navContainer .primaryNavbar{
    margin-bottom: 0;
  }

  .searchContainer{

    border-radius: 50%;
    flex: none;
  }

  .searchBar .web-searchBar{
    display: none;
  }

   .mob-searchBar{
    display: block;
  }



}