
.text-xl{
    font-size: 4rem;
}
.text-lg{
    font-size: 2rem;
}
.text-md{
    font-size: 1rem;
}
.text-sm{
    font-size: 0.75rem;
}
.text-xs{
    font-size: 0.5rem;
}

.font-300{
    font-weight: 300;
}

.font-400{
    font-weight: 400;
}

.font-500{
    font-weight: 500;
}
.font-600{
    font-weight: 600;
}

.font-700{
    font-weight: 700;
}

.color{
    color: var(--text-color);
}

.color-md{
    color: var(--text-color-md);
}

.color-lt{
    color: var(--text-color-lt);
}

.flex{
    display: flex;
    /* text-align: center; */
}

.center{
    align-items: center;
}

.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: row;
}
.justify-sb{
     justify-content: space-between;
}
.justify-sa{
     justify-content: space-around;
}
.justify-se{
     justify-content: space-evenly;
}
