.weatherContainer {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
}

.weatherContainer .weather {
    margin: 0 1rem;
    height: 250px;
    /* width: 50rem; */
    padding: 1rem;
    background: var(--card-color);

    box-shadow: 0 8px 10px 0 rgba(14, 14, 14, 0.5);
    backdrop-filter: blur(1px);
    border-radius: 20px;

}

.weatherInformation {
    
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.weatherInformation .infoCards {

    margin: 1rem;
    height: 250px;
    width: 90%;
    padding: 1rem;
    background: var(--card-color);
    box-shadow: 0 8px 10px 0 rgba(14, 14, 14, 0.5);
    backdrop-filter: blur(1px);
    border-radius: 20px;
}